/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	background-color: lightgrey;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-Label {
	font-stretch: normal;
	font-variant: normal;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;

}
.gwt-Title {

	font-size: 25pt;
	font-weight: bold;

}

.gwt-MenuItem {
	color: Black;
	font-size: 14px;
	font-weight: bold;
	vertical-align: text-top;
	line-height: inherit;
	text-indent: 1px;
	letter-spacing: 1px;
	text-align: center;
	direction: ltr;
	text-transform: none;
	white-space: normal;
	word-spacing: 1px;
	cursor: pointer;
}
.gwt-MenuBar {
	border: 1px solid black;
	background-color: Silver;
}
.gwt-label {
	font-size: 15px;
	font-style: italic;
	font-weight: bolder;
	
}
.gwt-TextBox {
	border : 1px solid black;
}

.gwt-absolutePanel {
	border: 1px solid black;
	 margin-left:auto;
     margin-right:auto;
     margin-top:auto;
     margin-bottom:auto;
}
.gwt-Label-new {
font-stretch: normal;
	font-variant: normal;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	border: 1px solid black;
}
